/*style de fond , imag de fond*/
body{
    width: 1200px;
    margin: auto;
}

.fond{
    background-color:rgba(225, 0, 0, 0.4);
    height: 1167px;
    border: 1px solid red;
    border-radius: 18%;
    width: 1209px;
}

/*style boutton*/

.fondB{
    background-color:rgba(225, 0, 0, 0.5);
    position: absolute;
    text-align: center;
    margin-top: 567px;
    margin-left: 446px;
    border-radius: 8px;
    
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    text-decoration: none;
    color:rgb(75, 2, 2);
}

.button{

    font-size: 30px;
    border: 1px solid red;
    width: 333px;
    height: 19px;
    border-radius: 8px;

}

/*style titre*/

h1{
    position: absolute;
    font-size: 77px;
    color: #ffffff;
   /* color:rgb(75, 2, 2);*/
    margin-top: 23px;
    margin-left: 403px;
    border-radius: 20px;
}

/*style animation, ici est regrouper tout ce qu'il faut 
pour que l'animation fonctionne*/


div,h1{
    background-color: red;
    -webkit-animation-name: neon; 
    -webkit-animation-duration:10s; 
    animation-name: neon;
    animation-duration: 10s;
    
  }

  @keyframes neon {
      0%{background-color:#000 ;}
      25%{background-color: rgb(255, 0, 0);}
      50%{background-color: rgb(117, 1, 1);}
      75%{background-color: rgb(6, 38, 141);}
      100%{background-color: rgb(51, 153, 4);}
  }

  .yourElement {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }